# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Database
PGUSER=''
PGPASSWORD=''
PGDATABASE=''
PGHOST=''
PGPORT=''

# Services
OPENAI_CHAT_URL='https://api.fireworks.ai/inference'
OPENAI_CHAT_MODEL='accounts/fireworks/models/llama-v3p2-90b-vision-instruct'
OPENAI_CHAT_API_KEY=''
OPENAI_WHISPER_URL='https://api.fireworks.ai/inference'
OPENAI_WHISPER_MODEL='accounts/fireworks/models/llama-v3p2-90b-vision-instruct'
OPENAI_WHISPER_API_KEY=''

GROQ_API_KEY='' # console.groq.cloud
FISH_API_KEY='' # fish.audio
